PORT=8000
DB_URL=mongodb+srv://tubeX:<DB_PASSWORD>@tubex.bhmza1s.mongodb.net/
CLIENT_URL=http://localhost:3000
LIMIT=16kb
JWT_SECRET=snl
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=snl2
REFRESH_TOKEN_EXPIRY=7d


CLOUD_NAME=dlxyiewtr
API_KEY=*****
API_SECRET=****
API_ENV_VER=CLOUDINARY_URL=cloudinary://*****5698221946:******@dlxyiewtr